* {
    margin: 0;
}

body {
    --twitter-color: #1da1f2;
    --twitter-background: #e6ecf0c0;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}